body {
  font-family: Arial;
  background: #f5f5f5;
}

.container {
  background: white;
  padding: 20px;
  width: 800px;
  margin: auto;
  box-shadow: 0px 0px 10px #ccc;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 6px;
}

button {
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}
